<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.spring.myweb.reply.mapper.IReplyMapper">

	<resultMap type="reply" id="replyMap">
		<result property="replyId" column="reply_id"/>
		<result property="replyPw" column="reply_pw"/>
		<result property="replyDate" column="reply_date"/>
		<result property="updateDate" column="update_date"/>
		
	</resultMap>

	<insert id="replyRegist">
		INSERT INTO freereply (bno, reply, reply_id, reply_pw)
		VALUES (#{bno}, #{reply}, #{replyId}, #{replyPw})
	</insert>

	<!-- 목록불러오기 (+페이징) -->
	<select id="getList" resultMap="replyMap">
	<!-- 오라클버전 
		SELECT * FROM	
			(
			SELECT ROWNUM AS rn, tbl.* FROM
				(
				SELECT * FROM freereply
				WHERE bno = #{bno}
				ORDER BY rno DESC
				) tbl
			)
		<![CDATA[	
		WHERE rn > (#{paging.pageNum}-1) * #{paging.cpp}
		AND rn <= #{paging.pageNum} * #{paging.cpp}
		]]>
		-->
		
		SELECT * FROM
				(SELECT * FROM freereply
				WHERE bno = #{bno} 
				ORDER BY rno DESC) tbl
			LIMIT #{paging.cpp}
			OFFSET 0
		
		
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM freereply
		WHERE bno = #{bno}
	</select>

	<select id="pwCheck" resultType="int">
		SELECT COUNT(*) FROM freereply
		WHERE rno = #{rno}
		AND reply_pw = #{replyPw}
	</select>
	
	<update id="update">
		UPDATE freereply SET
		reply = #{reply},
		update_date = CURRENT_TIMESTAMP
		WHERE rno = #{rno}
	</update>
	
	<delete id="delete">
		DELETE FROM freereply
		WHERE rno = #{rno}
	</delete>


</mapper>